body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}
h1 {
    color: rgb(255, 255, 255);
    font-family: Arial;
  }

h5 {
    font-size: medium;
}
/* 
#logoDiv {
    height: 50px;
    background-color: black;
    background-repeat: no-repeat;
    background-size: 257px 66px;
} */

/*logoDiv,*/ #logoDivSetup, #logoDivWhite, #copyrightDiv, #dialog {
    margin-left: auto;
    margin-right: auto;
}

#dialog {
    max-width: 75%;
    min-width: 65%;
    background-color: #e7eef2;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #3a5160;
    font-family: Arial;
    font-size: 16px;
    font-weight: normal;
}

#header {
    background-color: #f1f5f9;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    min-height: 45px;
}

#content.wideContent {
    min-width: 310px;
    padding-left: 5px;
    padding-right: 5px;
}

#content {
    min-width: 300px;
    max-width: 845px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-top: 17px;
    padding-right: 15px;
    color: #3a5160;
    line-height: 16px;
    min-height: 290px;
}

#content, #header, #footer {
    padding: 15px;
    border-width: 1px;
}

#container{
    padding-top: 10%;
    color:white;
    font-family: Arial;
    text-align: center;
    font-size: 175%;
}
.center {
    margin: auto;
    border: 5px solid #212121;
    padding: 0px;
    border-radius: 1%;
  }

  div.gallery {
    border: 1px solid #ccc;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }